*.js
!jest.config.js
*.d.ts
node_modules
.vscode/*
!.vscode/settings.sample.json
!.vscode/extensions.json

# CDK asset staging directory
.cdk.staging
cdk.out

# python
.venv
__pycache__/
.coverage

# Environment
.env

# AmazonQ
.amazonq
