services:
  dcp-web-scraping:
    container_name: dcp-web-scraping
    build:
      context: lambda
      dockerfile: web-scraping/Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - .env.local
    environment:
      - POWERTOOLS_LOG_LEVEL=${LOG_LEVEL:-INFO}
    depends_on:
      - localstack

  localstack:
    container_name: localstack
    image: localstack/localstack
    ports:
      - "4566:4566" # LocalStack Gateway
    volumes:
      - ./localstack/ready.sh:/etc/localstack/init/ready.d/ready.sh
      - /var/run/docker.sock:/var/run/docker.sock
    env_file:
      - .env.local
