name: Deployment

on:
  push:
    branches:
      - main
    paths:
      - "bin/**"
      - "lib/**"
      - "lambda/**"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  cd:
    runs-on: ubuntu-latest
    env:
      LOG_LEVEL: ${{ vars.LOG_LEVEL }}
      USER_AGENT: ${{ vars.USER_AGENT }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: configure aws credentials
        id: configure-aws-credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.ROLE_TO_ASSUME }}
          role-session-name: GitHubActions
          aws-region: ${{ vars.AWS_REGION }}
          output-credentials: true

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"

      - name: Install dependencies
        run: npm ci

      - name: CDK Deploy
        run: npx cdk deploy --require-approval never
